<%- include ('home') %>

<div class="weather-card">
    <h2>Weather in <span class="city">
            <%= weatherData.city %>
        </span></h2>
    <p class="description"> It is currently <%= weatherData.description %>
    </p>
    <p class="temp"> Temperature right now : <%= weatherData.temp %>째C</p>
    <p class="feels_like">However, it feels like <%= weatherData.feels_like %>째C</p>
    <p class="temp_max">Max. temp. : <%= weatherData.temp_max %>째C
    </p>
    <p class="temp_min">Min. temp. : <%= weatherData.temp_min %>째C
    </p>
</div>

<%- include ('footer') %>